In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('../ML/datasets/fish_train.csv')
df.head(5)

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Roach   150.0     20.4     22.0     24.7   5.8045  3.7544
1   Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
2   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
3   Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
4   Perch   110.0     19.0     21.0     22.5   5.6925  3.5550

In [3]:
train, test = train_test_split(df, test_size=0.2, random_state=23, stratify=df['Species'])
new_df = train

In [4]:
Y_train = train.pop('Weight')
Y_test = test.pop('Weight')

In [5]:
spec_train = train.pop('Species')
spec_test = test.pop('Species')
train.head(5)

    Length1  Length2  Length3   Height   Width
84     11.4     12.0     13.2   2.2044  1.1484
32     24.0     26.0     29.2   8.8768  4.4968
82     56.0     60.0     64.0   9.6000  6.1440
3      36.2     39.5     45.3  18.7542  6.7497
24     28.7     31.0     36.2  14.3714  4.8146

In [6]:
regressor = LinearRegression()
rabota = regressor.fit(train, Y_train)

In [7]:
Y_pred = regressor.predict(test)

In [8]:
sravnenie = pd.DataFrame({'Предсказанные': Y_pred, 'Действительные': Y_test})
sravnenie.head(10)

     Предсказанные  Действительные
31      685.061467           800.0
62      621.284657           456.0
43      219.195205           160.0
26      542.001459           500.0
80      424.160555           300.0
27      900.397667          1100.0
64      626.595080           514.0
114     387.614256           273.0
57      208.771587           150.0
30      637.430263           650.0

In [9]:
r2_score(Y_test, Y_pred)

0.8885408749541969

In [10]:
train_reserv = train
train = train.drop(['Height', 'Width'], axis=1)

pca = PCA(n_components=1, svd_solver='full')
data_transformed = pca.fit_transform(train) # перевод в базис главных компонент
z_val_train = data_transformed
z_val_train

array([[-2.83888965e+01],
       [-3.69350201e+00],
       [ 5.45162318e+01],
       [ 2.05627148e+01],
       [ 6.02998760e+00],
       [ 1.92429082e+00],
       [-2.61473379e+00],
       [ 2.84974788e+01],
       [ 1.43255006e+01],
       [ 1.10562976e+01],
       [ 1.45616637e+01],
       [ 6.11644725e+00],
       [-3.29093369e+00],
       [-1.07050690e+01],
       [-9.02118074e+00],
       [-1.71669659e+00],
       [-1.34928365e+01],
       [ 1.72170515e+01],
       [-3.52693635e+01],
       [-3.36674746e-02],
       [-1.53233814e+01],
       [-1.30811767e+01],
       [-1.77003726e+01],
       [ 1.95964252e+01],
       [ 9.51324060e+00],
       [-1.43488595e+01],
       [-3.02417738e+01],
       [-2.26894396e+00],
       [ 1.37591532e+01],
       [ 1.63525769e+01],
       [-2.94836843e+01],
       [ 2.30627751e+01],
       [-3.61485405e+00],
       [-1.16626878e+01],
       [-2.22249010e+01],
       [-1.16626878e+01],
       [ 3.33735056e+00],
       [-7.80573074e+00],
       [-2.28260550e+00],
       [ 1.10418013e+01],
       [ 7.59839925e+00],
       [ 4.18556187e+00],
       [ 1.30383130e+01],
       [ 5.75070755e+00],
       [-1.97031726e+01],
       [ 1.80195620e+01],
       [-1.33916369e+01],
       [-2.26894396e+00],
       [-1.33916369e+01],
       [-2.26894396e+00],
       [-4.21737234e+00],
       [ 5.86945009e+00],
       [ 9.38931247e+00],
       [-1.40446938e+00],
       [-9.99268032e+00],
       [ 1.28190530e+01],
       [-2.45215017e+01],
       [ 2.24379245e+01],
       [-5.17243166e+00],
       [-1.16850201e+01],
       [ 2.03230909e+01],
       [-9.93373860e+00],
       [-2.48657681e+01],
       [ 1.80111104e+01],
       [-3.97039957e+00],
       [ 2.44368430e+01],
       [-3.22630003e+01],
       [ 3.01475608e+01],
       [-2.36700244e+01],
       [ 1.80195620e+01],
       [-2.36470522e+01],
       [-1.46946493e+01],
       [-2.97185433e+01],
       [ 1.03493381e+01],
       [ 1.93654721e+01],
       [ 1.27120280e+01],
       [ 3.37012294e+01],
       [ 2.12384456e+00],
       [-1.31301435e+01],
       [ 1.95429127e+01],
       [-3.09907718e+01],
       [ 6.60459171e+00],
       [-2.78127934e+01],
       [ 4.55975314e+00],
       [-1.16626878e+01],
       [ 1.60093888e+01],
       [-2.28196564e+00],
       [ 1.86028125e+01],
       [-1.16626878e+01],
       [ 1.51423125e+01],
       [ 2.49691649e+01],
       [ 1.45532121e+01],
       [-1.04524233e+01],
       [-1.33916369e+01],
       [ 2.34113615e+00]])

In [11]:
train_reserv= train_reserv.drop(['Length1', 'Length2', 'Length3'], axis=1)
train_reserv['Lengths'] = z_val_train

In [12]:
train_reserv.head(4)

     Height   Width    Lengths
84   2.2044  1.1484 -28.388897
32   8.8768  4.4968  -3.693502
82   9.6000  6.1440  54.516232
3   18.7542  6.7497  20.562715

In [13]:
test_reserv = test
test = test.drop(['Height', 'Width'], axis=1)

data_transformed = pca.transform(test) # перевод в базис главных компонент
z_val_test = data_transformed
z_val_test

array([[ 13.91298171],
       [ 24.44266843],
       [ -9.85749751],
       [  6.65505747],
       [ -3.81743014],
       [ 24.78327268],
       [  6.66353343],
       [ -5.54637929],
       [-10.79821317],
       [ 10.24533548],
       [ -7.15140032],
       [-18.65735157],
       [ 40.11524443],
       [ -5.55394736],
       [ 47.414543  ],
       [ -7.10545588],
       [ 18.54084846],
       [ -9.06926402],
       [ 12.70357642],
       [ 25.43369726],
       [-28.61920977],
       [-28.61920977],
       [-10.89941272],
       [  7.71387582]])

In [14]:
test_reserv= test_reserv.drop(['Length1', 'Length2', 'Length3'], axis=1)
test_reserv['Lengths'] = z_val_test

In [15]:
regressor = LinearRegression()
rabota = regressor.fit(train_reserv, Y_train)
Y_pred = regressor.predict(test_reserv)

In [16]:
sravnenie = pd.DataFrame({'Предсказанные': Y_pred, 'Действительные': Y_test})
sravnenie.head(10)

     Предсказанные  Действительные
31      693.917037           800.0
62      592.574769           456.0
43      222.137746           160.0
26      512.447367           500.0
80      372.791763           300.0
27      860.279437          1100.0
64      567.058260           514.0
114     346.979470           273.0
57      207.308445           150.0
30      641.740491           650.0

In [17]:
r2_score(Y_test, Y_pred)

0.8925481416058356

In [18]:
train_reserv['Height'] = train_reserv['Height']**3
train_reserv['Width'] = train_reserv['Width']**3
train_reserv['Lengths'] = train_reserv['Lengths']**3

test_reserv['Height'] = test_reserv['Height']**3
test_reserv['Width'] = test_reserv['Width']**3
test_reserv['Lengths'] = test_reserv['Lengths']**3

In [19]:
train_reserv['Width'].mean()

124.41840117423388

In [20]:
# train_reserv['Weight'] = Y_train
# sns.pairplot(train_reserv[['Weight', 'Width']])

In [21]:
regressor.fit(train_reserv, Y_train)
Y_pred = regressor.predict(test_reserv)
r2_score(Y_test, Y_pred)

0.9452890309259335

In [22]:
# is_df = True # поменять только тут
# 
# last_train = train_reserv.join(spec_train)
# last_train = pd.get_dummies(last_train,
#                                 drop_first=is_df,
#                                 columns=['Species'])
# 
# last_test = test_reserv.join(spec_test)
# last_test = pd.get_dummies(last_test,
#                                drop_first=is_df,
#                                columns=['Species'])
# 
# regressor.fit(last_train, Y_train)
# Y_pred = regressor.predict(last_test)
# r2_score(Y_test, Y_pred)

In [23]:
last_train = train_reserv
last_train['Species'] = spec_train
last_train = pd.get_dummies(last_train, drop_first=True, columns=['Species'])

last_test = test_reserv
last_test['Species'] = spec_test
last_test = pd.get_dummies(last_test, drop_first=True, columns=['Species'])
last_train

,Height,Width,Lengths,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
84,10.712016,1.514536,-22879.447603,False,False,False,False,True,False
32,699.470343,90.930738,-50.386596,False,False,False,True,False,False
82,884.736000,231.928234,162023.305754,False,False,True,False,False,False
3,6596.227555,307.505871,8694.434838,False,False,False,False,False,False
24,2968.227824,111.604225,219.254874,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
60,472.001304,134.974119,15567.255426,False,False,True,False,False,False
112,1181.502082,258.061189,3082.311862,False,True,False,False,False,False
42,210.984922,47.832147,-1141.960215,False,True,False,False,False,False
63,184.462936,49.329915,-2401.601781,False,True,False,False,False,False
2,1926.992424,135.321746,12.831576,False,False,False,False,False,False

In [24]:
regressor.fit(last_train, Y_train)
Y_pred = regressor.predict(last_test)
r2_score(Y_test, Y_pred)

0.9525713724639472

In [25]:
df = pd.read_csv('fish_reserved.csv')
df.head(4)

  Species  Length1  Length2  Length3  Height   Width
0   Roach     19.4     21.0     23.7  6.1146  3.2943
1   Perch     19.3     21.3     22.8  6.3840  3.5340
2   Perch     17.2     19.0     20.2  5.6358  3.0502
3  Parkki     17.5     19.0     21.3  8.3922  2.9181

In [26]:
height = df.pop('Height')
width = df.pop('Width')
species = df.pop('Species')
df.head(4)

   Length1  Length2  Length3
0     19.4     21.0     23.7
1     19.3     21.3     22.8
2     17.2     19.0     20.2
3     17.5     19.0     21.3

In [27]:
data_transformed = pca.transform(df) # перевод в базис главных компонент
lenghts = data_transformed
lenghts

array([[-12.43401811],
       [-12.87295216],
       [-16.92840242],
       [-16.08626019],
       [-18.40430973],
       [ -8.20478944],
       [-21.57231319],
       [ 24.44266843],
       [  4.12359781],
       [-14.3657626 ],
       [ 60.55239334],
       [ -6.47584029],
       [ 11.18867726],
       [ 26.5741859 ],
       [-25.89468608],
       [ 11.70672214],
       [ -9.91101001],
       [ 14.44097714],
       [ 54.51623182],
       [-15.89103292],
       [ 10.12985892],
       [ -7.63283583],
       [-17.81042   ],
       [ -8.20478944],
       [ 12.07828729],
       [  9.99143452],
       [ -0.69750996],
       [-28.09661918],
       [-23.52312404],
       [-30.87984096],
       [ 23.13078385],
       [  3.21342243],
       [  7.59839925],
       [-13.13014349],
       [-27.06834112],
       [-16.26306096],
       [-11.66268775],
       [ 19.48094865],
       [ 12.89792018],
       [-10.79821317]])

In [28]:
df = df.drop(['Length1', 'Length2', 'Length3'], axis=1)
df['Lengths'] = lenghts

In [29]:
df['Height'] = height
df['Width'] = width 
df['Species'] = species

In [30]:
df['Height'] = df['Height']**3
df['Width'] = df['Width']**3
df['Lengths'] = df['Lengths']**3
df.head(3)

       Lengths      Height      Width Species
0 -1922.358964  228.614702  35.751102   Roach
1 -2133.214200  260.182831  44.136677   Perch
2 -4851.185966  179.005641  28.378207   Perch

In [31]:
cols = df.columns.tolist()
cols = [cols[1], cols[2], cols[0], cols[3]]
df = df[cols]
df.head(4)

       Height      Width      Lengths Species
0  228.614702  35.751102 -1922.358964   Roach
1  260.182831  44.136677 -2133.214200   Perch
2  179.005641  28.378207 -4851.185966   Perch
3  591.054429  24.848519 -4162.605628  Parkki

In [32]:
df = pd.get_dummies(df, columns=['Species'], drop_first=True)
df.head(4)

,Height,Width,Lengths,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,228.614702,35.751102,-1922.358964,False,False,False,True,False,False
1,260.182831,44.136677,-2133.214200,False,True,False,False,False,False
2,179.005641,28.378207,-4851.185966,False,True,False,False,False,False
3,591.054429,24.848519,-4162.605628,True,False,False,False,False,False

In [33]:
Y_pred = regressor.predict(df)
Y_pred

array([ 113.62033416,  165.6095803 ,  118.07581203,  119.02449079,
         86.28708339,  195.15066456,   66.4781572 ,  435.51166707,
        385.6124236 ,  125.77975629, 2224.72730502,  186.59249347,
        600.55673719, 1071.14395443,    4.58361388,  573.8908122 ,
        123.83265404,  805.29566148, 1541.85858573,  119.4851052 ,
        554.83441221,  192.72497995,  114.95000885,  194.98010018,
        349.69346079,  609.89142371,  352.77000874,   28.05897971,
         86.99886423,  -14.79034696,  932.6404534 ,  511.24767158,
        527.89388496,  169.8362795 ,   40.0475124 ,   77.39831949,
        164.6112501 ,  965.12328602,  745.47449181,  172.93525174])

In [34]:
result = Y_pred.tolist()
result

[113.62033416363215,
 165.6095803022409,
 118.07581203170815,
 119.02449078783405,
 86.28708339255174,
 195.150664556878,
 66.47815720487064,
 435.5116670736435,
 385.6124236040142,
 125.77975628650488,
 2224.727305017628,
 186.59249346892298,
 600.5567371869643,
 1071.1439544252655,
 4.583613880712079,
 573.8908121952292,
 123.83265404091712,
 805.2956614805855,
 1541.8585857277214,
 119.4851052010379,
 554.8344122147007,
 192.72497994730836,
 114.95000885498123,
 194.980100181416,
 349.69346078829545,
 609.8914237096242,
 352.77000873679145,
 28.058979714690686,
 86.9988642271933,
 -14.790346956584074,
 932.6404533989557,
 511.24767157694976,
 527.8938849569765,
 169.83627950089846,
 40.0475123962652,
 77.39831948920428,
 164.61125009967446,
 965.1232860215964,
 745.4744918091408,
 172.93525174162312]